@font-face {
  font-family: 'FormFont';
  src: local('Roboto-Regular'), local('Roboto'), url('Roboto-Regular.ttf') format('truetype');
}

colorFondoEncabezadoBloque = #888
colorFondoIdBloque = #DDD

.x-body
  .casillero, .encabezado, .contenido
    border-style dashed !important
    border-width 2px !important
    padding 2px !important
  .casillero
    border-color blue !important
  .encabezado
    border-color magenta !important
  .contenido
    border-color orange !important

anchoNormal(ancho)
  @media print
    width ancho
  @media (min-width 600px)
    width ancho

.formulario, .hoja-de-ruta
  font-family 'FormFont'
  max-width 768px
  margin-top 75px //ajustado para /CAMPO
  .btn
    white-space normal

.formulario, .hoja-de-ruta
  [resumen-estado="ok-full_version"]
    background-color  #5CB85C
    color  #FFFFFF
  [resumen-estado="ok"]
    border-color  #070
    color   #070
  [resumen-estado="cita pactada"]
    background-color  #3f51b5
    color  #FFFFFF
  [resumen-estado="vacio"]
    background-color  #FFFFFF
    color  #000000
    border 1px solid #888888
  [resumen-estado="con problemas"]
    background-color  red
    color  #FFFFFF
  [resumen-estado="incompleto"]
    background-color  yellow
    color  #000000
  [resumen-estado="no rea"]
    background-color  gray
    color  #FFFFFF
  [resumen-estado="actual"]
    background-color  blue
    color  #FFFFFF

.casillero
  font-size 1.2rem
  display flex
  flex-direction column
  &[despliegue-encabezado=lateral]
    flex-direction row
    > .contenido
      flex-wrap wrap

.encabezado
  display flex
  flex-direction row
  min-height 3em
  > *
    margin 0.5em
  > .id-div
    margin 0
    font-size 0.9em
    align-self flex-start
    justify-self flex-start
    text-align center
    flex-shrink 0
    flex-grow 0
  > .nombre-div
    flex-grow 0
    justify-self baseline
  .aclaracion
    flex-grow 1
    flex-wrap wrap
    font-size 0.85em
    font-style italic

.multiple
  .contenido, .opciones
    > .otros-especificar
      margin-left 0

.contenido, .opciones
  display flex
  flex-direction column
  min-height 2em
  &[despliegue-contenido=horizontal]
    flex-direction row
    @media (max-width 35em)
      flex-wrap wrap
    > *
      flex-wrap wrap
  > .otros-especificar
    margin-left 48px
    font-size 0.8em

.multiple, .pregunta, .conjuntopreguntas
  font-size 1.2rem
  > .encabezado
    > .id-div
      > .id
        color colorFondoIdBloque
        background-color colorFondoEncabezadoBloque
        border-bottom-right-radius 7px
        padding-left 0.2rem
        padding-right 0.2rem
        text-align center
  &[despliegue-encabezado~=lateral]
    > .contenido
      margin-left 0.5em
  > .contenido
    margin-left 3em
    > .multiple
      > .encabezado
        flex-grow: 1
    > .multiple[despliegue-encabezado~=superior]
      > .encabezado
        flex-grow: 0
    > .pregunta, > .multiple
      > .encabezado
        > *
          margin 0.3em
        > .id-div
          margin 0
          font-size 0.9em
      > .contenido
        margin 0.3em
      > .pie-pregunta
        &:before
          content none
  > .pie-pregunta
    align-self center
    &:before
      content ""
      display inline-block
      height 100%
      vertical-align middle

.multiple
  border-top 0.5px solid colorFondoIdBloque

.conjuntopreguntas, .pregunta
  border-top 1px solid colorFondoEncabezadoBloque

.pregunta
  // justify-content space-between
  > .contenido
    > .campo
      display flex
      flex-direction row
      .MuiButton-root
        margin-left 0.4rem
      .input-campo
        display flex
        max-width calc(100% - 2.5rem)
        input
          width 95%
          background-color rgba(255,255,255,0.2)
          border-top transparent
          border-left transparent
          border-right transparent
      &[nuestra-longitud]
        .input-campo
          width 100%
      &[nuestra-longitud="telefono"]
        .input-campo
          width 100%
      &[nuestra-longitud="10"]
        .input-campo
          width 11ch
      &[nuestra-longitud="8"]
        .input-campo
          width 9ch
      &[nuestra-longitud="6"]
        .input-campo
          width 7ch
      &[nuestra-longitud="4"]
        .input-campo
          width 5ch
      &[nuestra-longitud="3"]
        .input-campo
          width 4ch
      &[nuestra-longitud="2"]
        .input-campo
          width 3ch
      &[nuestra-longitud="1"]
        .input-campo
          width 2ch

.bloque
  > .encabezado
    background colorFondoEncabezadoBloque
    > .id-div
      color rgba(0,0,0,0)
      background-color rgba(0,0,0,0)
    > .nombre-div
      text-align center
      color colorFondoIdBloque
    > .aclaracion
      color colorFondoIdBloque !important

.seccion-boton-formulario
  justify-content right
  > div
    margin-top 0.5rem
    margin-bottom 0.5rem

.consistencia
  .id
    color #AAA
    padding-right 1rem
  padding 1rem
  font-weight bold
  background-color #FFA

[los-metadatos]
  display none

@media print
  header
    display none !important

.id-div
  height 2em
  min-width 2em
  margin-right 0.5rem
  align-self self-start
  display flex
  flex-direction column
  > .campo
    font-size 1em
    input
      background-color #f6f6f6f
      border 0px
      border-bottom 0.5px solid #ccc
      width 1.3em
      height 1em

.pregunta
  .pregunta > .encabezado > .id-div
    display none

boton-id-div-invalido()
  .id-div
    .id
      opacity 70%
    height 2.25rem
    min-width 2.25rem
    outline  1px solid blue
    background-image url("../img/borrar-valor.png")
    background-position bottom
    background-size 2.25rem
    border-radius 0.25rem
    flex-shrink 0
    flex-grow 0

// [tiene-valor=invalido]
//  boton-id-div-invalido()

[modo-despliegue=estricto], [modo-despliegue=relevamiento]
  [nuestro-validator=optativa_sd]
    background-color #FfFff8
    color #050
  [nuestro-validator=valida]
    background-color #EEE
    color #050
  [nuestro-validator=actual]
    background-color #FFF
    .boton-opcion-seleccion
      border-color blue
    input
      border-bottom 2px solid blue
    .MuiInput-underline:after
      border-bottom-color blue
    .MuiInput-underline:before
      border-bottom-color blue
    > .encabezado
      &[debe-leer=SI]
        color blue
      [debe-leer=SI]
        color blue
    .opcion-texto
      [debe-leer=SI]
        color blue
  [nuestro-validator=omitida]
    background repeating-linear-gradient(45deg, #fff, #fff 10px, #ff9 10px, #ff9 12px)
    .boton-opcion-seleccion
      border-color blue
    .MuiInput-underline:after
      border-bottom-color blue
    .MuiInput-underline:before
      border-bottom-color blue
    &[debe-leer=SI]
      color blue
    [debe-leer=SI]
      color blue
  [nuestro-validator=fuera_de_flujo_por_salto]
    boton-id-div()
    background-image url("../img/fondo-salteado-error.png")
    background-size 32px
    background-repeat repeat
  [nuestro-validator=invalida]
    boton-id-div()
    background repeating-linear-gradient(45deg, #eee, #eee 10px, #f99 10px, #f99 12px)
  [esta-inhabilitada=SI]
    &[ocultar-salteada=INHABILITAR]
      &[tiene-valor=NO]
        display none
      &[nuestro-validator=calculada]
        display none
  [nuestro-validator=todavia_no]
    &[ocultar-salteada=SI]
      &[tiene-valor=NO]
        display none
    background-color #EEE
    color #888
  [nuestro-validator=calculada]
    background-color #EEE
    input
      background-color #DDE
      color black
      font-weight bold
  [nuestro-validator=salteada]
    &[ocultar-salteada=SI]
      &[tiene-valor=NO]
        display none
    background-image url("../img/fondo-salteado.png")
    background-size 32px
    background-repeat repeat
  [nuestro-validator=fuera_de_flujo_por_omitida]
    background repeating-linear-gradient(45deg, #eee, #eee 10px, #fcc 10px, #fcc 12px)
    &[tiene-valor=SI]
      boton-id-div()

[modo-despliegue=estricto]
  [nuestro-validator=salteada]
    display none
  [nuestro-validator=todavia_no]
    display none

[modo-despliegue=PDF]
  background-color #fffff
  [debe-leer=SI]
    color blue

[modo-despliegue=metadatos]
  background-color #f8f8f8
  [debe-leer=SI]
    color blue
  [los-metadatos]
    display flex
    font-size 80%
    color #A0F
    [el-metadato]
      flex-shrink 1
      margin 3px
    [el-metadato=variable]
      padding-left 4px
      padding-right 4px
      min-width 1rem
      border 1px solid gray

.confirma-borrado
  padding 0.5rem
  .confirma-botones
    display flex
    > *
      margin 0.5rem

.formulario
  background-color #EEE

.atributo-par
  margin-right 2px
  .atributo-nombre
    color #555
  *
    margin-right 2px

.opcion
  display flex
  padding-left 0
  .id
    font-weight bold
    margin 0.25rem
  .opcion-texto
    font-size 120%
    margin 0.38rem
    margin-top 0.25rem
    .aclaracion
      font-style italic
      font-size 0.8em

[ver-num-opciones=SI][modo-despliegue=relevamiento]
  .opcion
    .id
      color black
      background-color white
      border 1px solid white
      width unset
      min-width 1rem
      height 1rem
      text-align center
      font-size 0.8rem
      margin-top 0.6rem
      border-radius 0.5rem

[modo-despliegue=relevamiento]
  .opcion
    padding-left 0
    .id
      border-radius 0.3rem
      color transparent
      border 1px solid #555
      font-weight bold
      margin 0.25rem
      margin-left 0.5rem
      margin-top 0.75rem
      height 0.6rem
      width 0.6rem
    [opcion-seleccionada="SI"]
      .id
        background-color #555
        border 1px solid #555

.boton-confirmar-campo
  .MuiButton-root
    min-width 1.80rem
  .MuiButton-label
    width 1.75rem
  button.MuiButton-outlinedSizeSmall
    padding 0.2rem
  button.MuiButton-containedSizeSmall
    padding 0.2rem
  margin-left 0.4rem
  margin-right 0.4rem

.bienvenida
  padding 0.75rem
  max-width 760px

.espacio-final-formulario
  min-height 250px
  background-color transparent

.barra-navegacion
  max-width 90%
  .abr
    @media (min-width 600px)
      display none
  .label
    @media (max-width 599px)
      display none
  &[solo-lectura=si]
    button.MuiButton-outlined.Mui-disabled
      background-color #e87a8d
      color #ffffff

/*ESTILOS CACHE*/
#cache-layout, #cache-log
  clear both
  position relative
  z-index 9999999

#cache-status
  padding 0px 10px
  margin 0px

app-cache-version, #app-dm-version
  padding 0px 8px

#app-versions
  padding 8px 0px
  background-color transparent
  color #f4f4f4
  letter-spacing 1px
  font-weight bold
  position absolute
  right 175px

.danger
  padding 0 5px
  background-color #cb3837
  color #ffffff

.warning
  padding 0 5px
  background-color #FFD700
  color #000000
.all-ok
  padding 0 5px
  background-color #00AA15
  color #ffffff
/* FIN ESTILOS CACHE*/

.MuiToolbar-root
  button.MuiButton-outlined.Mui-disabled
    border-color #FFF
    color black
    x-background-color rgba(63, 81, 181, 1);
    background-color #7A8DE8

.nuestro-dialogo
  padding 0.5rem

.seccion-boton-formulario
  svg
    margin-left 0.5rem

.my-grid
  .menu-item
    padding 0px
    padding-left 2px
    padding-right 2px
    border-radius 3px

.nombre-version
  display flex
  justify-content space-between
  font-size 80%

.download-dm-button
  font-size 120%
  font-weight bold
.download-dm-button-cont
  font-size 120%
  background-color #48F
  border-radius 5px
  color white
  font-weight bold

.tab-counter  
  display inline-block
  position fixed
  top 0
  left 0
  z-index 9000

.tab-error
  font-weight: bold
  background-color: #FB8

.boton-opcion-borrar
  visibility hidden

[estoy-borrando="SI"]
  .boton-opcion-borrar[opcion-seleccionada="SI"]
    visibility visible
  [despliegue-contenido="horizontal"]
    .boton-opcion-borrar
      visibility visible

[tiene-valor=invalido]
  .boton-opcion-borrar[opcion-seleccionada="SI"]
    visibility visible
  [despliegue-contenido="horizontal"], .campo
    .boton-opcion-borrar
      visibility visible

.btn.boton-opcion-seleccion
  min-width 4.5rem
  display inline-flex
  padding 0px
  margin 0.25rem
  text-align left
  padding-right 0.3rem

.formulario, .hoja-de-ruta
  .btn
    display inline-flex  

.MuiToolbar-root
  .btn
    background-color #EEE
    &:disabled, &.disabled
      background-color #BBF

.div-boton-volver
  display flex
  flex-direction column
.boton-volver
  align-self flex-end
.mostrar-forPk
  display inline-block
  div
    line-height 0.9
    font-size 90%
  span 
    margin-left 0.4rem

.pase
  display inline-flex
  flex-direction row
  align-items center
  text-align center
  margin-right 0.4rem
  > svg
    display inline
.pase-titulo
  white-space nowrap
  background-color #444
  color #EEE
  font-size 70%
  padding-left 0.1rem
  padding-right 0.1rem
  line-height 0.8
  border-radius 0.3rem

.boton-borrar
  width 0.5rem
  min-width 0.5rem
  > button
    position relative
    left -2.5rem
    width 3rem
    justify-content center
    padding-left 0.3rem
    z-index 1
    background-color white

.opcion
  button.btn
    margin 0.1rem
    text-align left
    padding-right 0.3rem

[nuestro-validator=valida], [nuestro-validator=salteada], [nuestro-validator=todavia_no]
  .opcion
    .btn.btn-outline-secondary
      border-color transparent

.formulario 
  .botonformulario
    .special-button
      display none

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button 
  -webkit-appearance none
  margin 0


/* Firefox */
input[type=number]
  -moz-appearance textfield

.input-campo
  > input
    font-size 1.1rem

button#fab-activo-abajo
  position fixed
  visibility hidden
  bottom 24px
  right 24px

button#fab-error-abajo
  position fixed
  visibility hidden
  bottom 24px
  right 100px

button#fab-activo-arriba
  position fixed
  visibility hidden
  top 90px
  right 24px

button#fab-error-arriba
  position fixed
  visibility hidden
  top 90px
  right 100px

div.ua-hijas
  display flex
  flex-direction column
  margin-left: 6px
  .seccion-boton-formulario
    > div
      margin 2px
  > div
    margin-left: 6px

.numerador-ua
  display flex
  flex-direction column

.botones-ua
  display flex
  flex-direction row

.numero-ua
  margin 5px 10px 0 0

div#mini-console
  width 100%
  max-width 100%