td[my-mandatory=esperar]empty
  background url("../img/wait4this.png") top right no-repeat
  background-size  12px 12px 
td[my-mandatory=optativo]empty
  background url("../img/optativo.png") top right no-repeat
  background-size  12px 12px 

.svg-acciones
  height 1.5em
  width 1.5em
  margin-left 2px

.boton-accion
  cursor pointer
  border-radius 0.25rem
  font-size 1em
  display inline-flex

.sin-boton-accion
  display inline-flex

.boton-accion:disabled, .boton-accion[disabled]
  pointer-events none !important
  opacity .55 !important

.boton-accion-avance
  color #fff
  background-color #007bff
  border-color #007bff
  .svg-acciones
    fill #fff

.boton-accion-retroceso
  color #212529
  background-color #ffc107
  border-color #ffc107
  .svg-acciones
    fill #212529

.boton-accion-blanqueo
  color #ffffff
  background-color #c82333
  border-color #c82333
  .svg-acciones
    fill #ffffff

// sliders customizados https//www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch
.switch 
  position relative
  display inline-block
  width 52px
  height 25px

.switch input  
  opacity 0
  width 0
  height 0

.slider 
  position absolute
  cursor pointer
  top 0
  left 0
  right 0
  bottom 0
  background-color #ccc
  -webkit-transition .4s
  transition .4s

.slider:before
  position absolute
  content ""
  height 18px
  width 18px
  left 4px
  bottom 4px
  background-color white
  -webkit-transition .4s
  transition .4s

input:checked + .slider 
  background-color #007bff

input:focus + .slider 
  box-shadow 0 0 1px #007bff

input:checked + .slider:before 
  -webkit-transform translateX(26px)
  -ms-transform translateX(26px)
  transform translateX(26px)

/* Rounded sliders */
.slider.round 
  border-radius 34px


.slider.round:before
  border-radius 50%

//fin sliders