/* General Layout */
#total-layout {
    font-family: Arial, sans-serif;
}

/* Top Bar Styles */
#main-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}

.menu-item {
    text-decoration: none;
    color: #333;
    border: #aaa 1px solid;
    border-radius: 3px;
}

/* Sub Menu Styles */
.sub-menu-bar {
    text-align: right;
    padding: 5px 10px;
}

/* Table Styles */
.my-grid {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.my-grid caption {
    font-weight: bold;
    margin: 10px 0;
}

.my-grid th, .my-grid td {
    border: 1px solid #ccc;
    padding-left: 5px;
    padding-right: 5px;
}

.my-grid th {
    background-color: #f4f4f4;
}

.table-button {
    background-color: #f4f4f4;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}
